/.idea/
/vendor/
/.phpunit.result.cache
/build/
/storage/phpunit/coverage/html/_css/bootstrap.min.css
/storage/phpunit/coverage/html/_css/custom.css
/storage/phpunit/coverage/html/_css/nv.d3.min.css
/storage/phpunit/coverage/html/_css/octicons.css
/storage/phpunit/coverage/html/_css/style.css
/storage/phpunit/coverage/html/_icons/file-code.svg
/storage/phpunit/coverage/html/_icons/file-directory.svg
/storage/phpunit/coverage/html/_js/bootstrap.min.js
/storage/phpunit/coverage/html/_js/d3.min.js
/storage/phpunit/coverage/html/_js/file.js
/storage/phpunit/coverage/html/_js/jquery.min.js
/storage/phpunit/coverage/html/_js/nv.d3.min.js
/storage/phpunit/coverage/html/_js/popper.min.js
/storage/phpunit/coverage/html/Contracts/dashboard.html
/storage/phpunit/coverage/html/Contracts/index.html
/storage/phpunit/coverage/html/Contracts/MatchedRouteInterface.php.html
/storage/phpunit/coverage/html/Contracts/RequestHandlerResolverInterface.php.html
/storage/phpunit/coverage/html/Contracts/RouteCompilerInterface.php.html
/storage/phpunit/coverage/html/Contracts/RouteContextInterface.php.html
/storage/phpunit/coverage/html/Contracts/RouteInterface.php.html
/storage/phpunit/coverage/html/Contracts/RouteMatcherInterface.php.html
/storage/phpunit/coverage/html/Contracts/RouterInterface.php.html
/storage/phpunit/coverage/html/Contracts/RouteStoreInterface.php.html
/storage/phpunit/coverage/html/Exceptions/dashboard.html
/storage/phpunit/coverage/html/Exceptions/index.html
/storage/phpunit/coverage/html/Exceptions/RouteNotFoundException.php.html
/storage/phpunit/coverage/html/Middleware/dashboard.html
/storage/phpunit/coverage/html/Middleware/DispatchMiddleware.php.html
/storage/phpunit/coverage/html/Middleware/index.html
/storage/phpunit/coverage/html/Middleware/MiddlewareStack.php.html
/storage/phpunit/coverage/html/Middleware/RouteDispatcherMiddleware.php.html
/storage/phpunit/coverage/html/Middleware/RouteMatcherMiddleware.php.html
/storage/phpunit/coverage/html/Store/ContainerStore.php.html
/storage/phpunit/coverage/html/Store/dashboard.html
/storage/phpunit/coverage/html/Store/FileSystemStore.php.html
/storage/phpunit/coverage/html/Store/index.html
/storage/phpunit/coverage/html/Store/InMemoryStore.php.html
/storage/phpunit/coverage/html/ArgonRouter.php.html
/storage/phpunit/coverage/html/ArgonRoutingServiceProvider.php.html
/storage/phpunit/coverage/html/dashboard.html
/storage/phpunit/coverage/html/index.html
/storage/phpunit/coverage/html/PipelineCompiler.php.html
/storage/phpunit/coverage/html/RequestHandlerResolver.php.html
/storage/phpunit/coverage/html/ResolvedRequestHandler.php.html
/storage/phpunit/coverage/html/Route.php.html
/storage/phpunit/coverage/html/RouteContext.php.html
/storage/phpunit/coverage/html/RouteManager.php.html
/storage/phpunit/coverage/html/RouteMatcher.php.html
/storage/phpunit/coverage/html/RoutePipeline.php.html
/storage/phpunit/coverage/clover.xml
