<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheResultFile=".phpunit.result.cache">

    <testsuites>
        <testsuite name="application">
            <directory suffix="Test.php">tests/applications/app-skeleton/tests/</directory>
        </testsuite>

        <testsuite name="integration">
            <directory suffix="Test.php">tests/integration/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage/html"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

</phpunit>
